body {
    
    background-color: pink;
}

#x {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1000px;
    background-color: gold;
    margin-left: auto;
    margin-right: auto;
}

.z {
    width: 100px;
    height: 100px;
}

#a {background-color: red;
}
#b {background-color: orange;
}
#c {background-color: yellow;
}
#d {background-color: green;
}
#e {background-color: blue;
}